<header>
    <div class="header-con">
   <h1> <%= title %> </h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new">New</a></li>
            <li><a class="github" href="https://github.com/leoshliak/Mini-Message-Board" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a></li>
        </ul>
    </div>
</header>