<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ce1faa7116.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <title>New Message</title>
</head>
<body>
    <%- include('header', {title})  %>
    <main>
    <form method="POST" action="/new">
        <h2>Fill out the form</h2>
        <div class="group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" maxlength="40" required>
       </div>
       <div class="group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="13"  required></textarea>
    </div>
        <button type="submit">Submit</button>
     </form>
    </main>
</body>
</html>