* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(Roboto-VariableFont_wdth\,wght.ttf), format('ttf');
}

@font-face {
    font-family: 'RobotoSlab';
    src: url(RobotoSlab-VariableFont_wght.ttf), format('ttf');
}

body {
   font-size: 18px;
  font-family: 'Roboto';
  overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    background-color: #fff;
}

.header-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: min(100% - 2rem, 80rem);
    padding: 0rem 1rem;
}


nav  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header h1 {
    font-family: 'RobotoSlab';
    font-size: 2rem;
    letter-spacing: 0.4px;
}

header nav ul li {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.4px;
}

header nav ul li a {
    color: #555555;
    transition: all 0.3s ease;
}

.github {
    color: #000;
    font-size: 1.8rem;
}

.github:hover {
    transform: scale(1.05);
    text-shadow: 0 0 4px #fff; 
    display: inline-block; /* Add this to make transform work */
}

header nav li a:hover {
    color: #000;
}

main {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    height: calc(100vh - 70px);
    overflow: auto;
    padding-bottom: 30px;
}

.bg {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.message-con {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
    gap: 2rem;
    width: min(100% - 3rem, 75rem);
    height: fit-content;
}

.message {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #fff;
   padding: 1rem;
   gap: 1.8rem;
   box-shadow: 0 2px 10px #0000001a;
   width: 350px;
   height: 190px;
}

.message h3 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.message-text {
    font-size: 1.3rem;
}

.message-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 0px 10px;
}

.open {
   padding: 5px 12px;
   letter-spacing: 0.4px;
   font-size: 1.2rem;
   border-radius: 5px;
   background-color: #375bbc;
   color: #fff;
   transition: all 0.3s ease;
}

.open:hover {
    transform: scale(1.05);
    background-color: #3159dc;
}

.open:active {
    transform: scale(0.95);
    background-color: #3159dc;
}


.message-detail {
    width: min(100% - 3rem, 75rem);
}

.detail-user {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 1.6rem;
    letter-spacing: 0.4px;
}

.detail-text {
    font-size: 1.6rem;
    letter-spacing: 0.2px;
    margin-bottom: 1.6rem;
    line-height: 37px;
}

.detail-text span {
    font-weight: 600;
    font-size: 1.8rem;
}

.d-message-date {
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}

.btn-back {
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    color: #193fbc;
    padding-bottom: 40px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: min(100% - 3rem, 75rem);
    padding: 1rem;
}

form h2 {
    font-size: 2rem;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.group {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

.group label {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0b3854;
}

.group input, textarea {
    padding: 7px 8px;
    font-size: 1.15rem;
    border-radius: 3px;
    border: 1px solid gray;
    resize: vertical;
}

.button-div {
    padding-bottom: 40px;
}

form button {
    font-size: 1.9rem;
    letter-spacing: 0.4px;
    font-weight: 600;
    width: 148.8px;
    height: 52px;
    border-radius: 5px;
    background-color: #375bbc;
    color: #fff;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

form button:hover {
    transform: scale(1.05);
    background-color: #3159dc;
}

form button:active {
    transform: scale(0.95);
    background-color: #3159dc;
}

@media screen and (max-width: 825px) {
    .message {
        width: 300px;
    }

    .message h3 {
        font-size: 1.6rem;
        letter-spacing: 0.3px;
    }

    .message-text {
        font-size: 1.2rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header nav ul li {
        font-size: 1.3rem;
    }

    .github {
        font-size: 1.5rem;
    }

    .group {
        width: 80%;
    }

    form button {
        font-size: 1.75rem;
        width: 135px;
        height: 47px;
    }

    header nav ul {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 600px)  {
    header h1 {
        font-size: 1.2rem;
        letter-spacing: 0.3px;
    }

    header nav ul {
        gap: 1rem;
    }

    .header-con {
        padding: 0px;
    }

    header nav ul li {
        font-size: 1.2rem;
    }

    main {
        padding: 10px 8px;
    }

    .message-con {
        width: 100%;
    }

    .message {
        width: 80%;
    }

    form {
        width: 100%;
    }

   .group {
        width: 90%;
    }

    form button {
        font-size: 1.5rem;
        width: 120px;
        height: 42px;
    }

    .message-detail {
        width: 95%;
    }

    .detail-user {
        font-size: 2.1rem;
        margin-bottom: 1.2rem;
    }

    .detail-text {
        font-size: 1.3rem;
        line-height: 30px;
    }
}